/* ===================== */
/*  Basic style
/ ===================== */
body, html {
    height: 100%;
    margin: 0;
}
body > section, .footer {
    padding: 70px 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.sec-title{}
.sec-title h2{
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}
.sec-sub-title {
    margin: 35px 0 45px;
}

.devider {
    margin-top: 30px;
}
.devider i{
    color:#cccccc;
}
.devider:before, .devider:after {
    content: "_________________";
    color: #e6e8ea;
    position:relative;
    bottom: 6px;
}
.devider:before {
    right: 10px;
}
.devider:after {
    left: 10px;
}

/* ===================== */
/*  Hero content
/ ===================== */

.hero-image {
    background-image: url("../img/high-tech-wallpaper.jpg");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*z-index: -15;*/
}

.hero-text-overlay {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hotpink;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;

}

.hero-text-overlay #propic {
    top: 25%;
    position: relative;
    border-radius: 50%;
}

.hero-text-overlay h1 {
    margin-top: 145px;
}
.hero-text-overlay p {
    top: 40%;
}

.hero-text-overlay .social-link li {
    list-style: none;
    display: inline-block;
}


.hero-text-overlay .social-link li:hover {
    background-color: #FFF;
    color:#ddd;
    font-size: 20px;
    border-radius: 50px;
}
.hero-text-overlay .social-link li i {
    color: #e32f08;
    padding: 10px;
    font-size: 17px;
}

/*=========================================
	Header
==========================================*/

#navigation {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0 none;
    margin: 0;

    -webkit-transition: background-color 800ms linear;
    -moz-transition: background-color 800ms linear;
    -ms-transition: background-color 800ms linear;
    -o-transition: background-color 800ms linear;
    transition: background-color 800ms linear;
}

.navbar-toggle i {
    color: #fff;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-nav li a {
    border-top: 1px solid transparent;
    color: rgba(180, 40, 18, 0.95);
    font-family: "Helvetica Neue", Ubuntu;
    font-size: 15px;
    font-weight: bold;


}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
    background-color: transparent;
    border-top: 1px solid #32B0EE;
    border-bottom: 1px solid red;
    color: #fff;

}

img {
    vertical-align: middle;
    top: 0;
    overflow: hidden;
    position: relative;
}




/*=========================================
	Services
==========================================*/

.service {
    background-color: #f4f7f9;
    min-height: 400px;
}

.service-icon{
    border: 1px solid #0eb493;
    border-radius: 50%;
    color: #0eb493;
    float: left;
    padding: 10px 13px;
}
.service-desc{
    margin-left: 70px;
    /*position: absolute;*/
    top: 5px;

}


/*=========================================
	Our Team member
==========================================*/

.member-thumb {
    width: 273px;
    position: relative;
}

.member-thumb .overlay {
    font-size: 16px;
    padding: 20px;
    line-height: 24px;
}
.member-thumb .overlay h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px 0;
}
.team-member h4 {
    color: #062033;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0 8px;
}
.member-thumb:hover .overlay {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1);
}
.team-member:hover h4 {
    color: #0eb493;
}
.team-member .team-social-link {
    margin-top: 24%
}
.team-member .team-social-link li a {
    background-color: #0d7c67;
    color:#fff;
    height: 42px;
    padding: 10px 0 0;
    width: 42px;
}
.overlay {
    background-color: rgba(14,180,147,.9);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;

    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);
}


/*
statistics


*/

#statistics {
    background-image: url('../img/high-tech-wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 350px;

}
#statistics .cover {
    padding: 50px 0;
    min-height: 350px;
    background-color: rgba(0,0,0,0.5);
}

#statistics .cover h2 {
    color: #FFF;
    border-bottom-color: #FFF;
}
#statistics .cover .row div[class*="col-"] {
    margin: 15px 0 20px;
}
#statistics .cover .row div[class*="col-"]:last-of-type {
    margin-bottom: 0;
}
#statistics .cover .row div[class*="col-"] i {
    position: relative;
    font-size: 50px;
    color: #FFF;
    top: 3px;
    margin-right: 10px;
    right: 1px;
}
#statistics .cover .row div[class*="col-"] h4 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
#statistics .cover .row div[class*="col-"] .timer {
    font-size: 45px;
    font-weight: bold;
    color: #FFF;
    font-family: sans-serif;
    margin: 0;
}
.bars {
    margin: 20px;
    width: calc(100% - 30px);
    height: 8px;
    position: relative;
}
.circles {
    position: relative;
    height: 120px;
    width: 120px;
    margin: 20px auto;
}


#about {
    min-height: 350px;
    background-color: #628fdd;
    margin: 0;
    padding:5px;
}

#about .aboutimg {
    background-image: url("../img/jashim_picture.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    width: 450px;
    border-radius: 5px;
}

#about .service-desc-2 ul {
    margin-left: 5px;
    padding: 2px;
}
#about .service-desc-2 li a {
    color: #FFF;
    font-size: 14px;
}
#about .service-desc-2 .hireme {
    /*margin: 20px 20px;*/
    position: absolute;
}